<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../assets/favicon.png" class="rounded-circle profile_photo" alt="" class="img-thumbnail">
                        Tabby Mungai</h5>
                    <hr />
                    <p class="card-text">Backend Developer</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-gitlab"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-github"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-stack-overflow"></i></a>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../assets/favicon.png" class="rounded-circle profile_photo" alt="" class="img-thumbnail">
                        Mercy Kemboi</h5>
                    <hr />
                    <p class="card-text">Frontend Developer</p>
                </div>
               
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-gitlab"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-github"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                    
                    <h5 class="card-title">
                        <img src="https://us.123rf.com/450wm/tsuneo/tsuneo2010/tsuneo201000059/156779620-3d-cg-rendering-of-ninja-man.jpg?ver=6" 
                        class="rounded-circle profile_photo" alt="" class="img-thumbnail">
                        Gilbert Kitetu</h5>
                    <hr />
                    <p class="card-text">Fullstack Developer</p>
                </div>
              
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/gilbert-munywoki-204127197/" class="card-link"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/gilbertkitetu/" class="card-link"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-gitlab"></i></a>
                    <a href="https://github.com/Gilbertkitetu" class="card-link"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/Gilbertkitetu1" class="card-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../assets/favicon.png" class="rounded-circle profile_photo" alt="" class="img-thumbnail">
                        Paul Ndambo</h5>
                    <hr />
                    <p class="card-text">Backend Developer.</p>
                </div>
               
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-gitlab"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-github"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../assets/favicon.png" class="rounded-circle profile_photo" alt="" class="img-thumbnail">
                        Polycarp</h5>
                    <hr />
                    <p class="card-text">Frontend Developer.</p>
                </div>
               
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-gitlab"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-github"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
            <div class="card">
        
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../assets/favicon.png" class="rounded-circle profile_photo" alt="" class="img-thumbnail">
                        Henry Otieno</h5>
                    <hr />
                    <p class="card-text">Fullstack Developer.</p>
                </div>
        
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-gitlab"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-github"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

